@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

main {}

a {
    text-decoration: none;
}

.container {

    padding: 30px 150px;
    margin: 16px;
    border-radius: 8px;
}

.view-more-btn {
    width: 187px;
    height: 46px;
    background: #DD0000;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    border: none;
    color: #FFFFFF;
    margin-top: 15px;
    display: none;
}

hr {
    margin: 20px 12px;
    border: 1px solid #38313173;
}

/* top player start  */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-card {
    background-color: #161616;
    border-radius: 0.6rem;
    /* height: 646px; */
    display: grid;
    grid-template-columns: 50% repeat(1, 1fr);
    padding: 22px 22px 0px 22px;
}

.banner-details {
    padding: 0px 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-details .banner-heading {
    font-size: 70px;
    line-height: 80px;
    padding: 0px;
    margin: 0px;
    color: #FFFFFF;
}

.banner-details .banner-details {
    font-weight: 400;
    padding: 0px;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.banner-details button {
    width: 187px;
    height: 46px;
    background: #DD0000;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    border: none;
    color: #FFFFFF;
}

.banner-details button:hover {

    background: #f51d1d;
    border-radius: 5px;
    font-size: 21px;
    box-shadow: 0 8px 16px 0 rgba(155, 122, 122, 0.192);

}

.banner-card .banner-thumbnail {
    text-align: center;
    padding-top: 22px;
}

.banner-card .banner-thumbnail img {
    vertical-align: bottom;
    width: 450px;
}


/* body  */
.main-box {
    display: grid;
    grid-template-columns: 25% repeat(1, 1fr);
}

/* aside bar  */
.menue-box {
    background: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 22px;
}

.btn-active {
    padding: 12px;
    margin: 12px;
    background: #DD0000;
    border-radius: 5px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.btn-active:hover {
    background: #f51d1d;
    box-shadow: 0 8px 16px 0 rgba(155, 122, 122, 0.192);

}

.btn-inactive {
    padding: 12px;
    margin: 12px;
    background: #f3f3f3;
    border-radius: 5px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: black;
}
.btn-inactive:hover {
    background: #DD0000;
    box-shadow: 0 8px 16px 0 rgba(155, 122, 122, 0.192);
    color: #FFFFFF;
}

/* body match  */
.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    padding: 22px 12px;
    margin: 12px;
    border-radius: 1rem;
    border: 1px solid #d3d0d0;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card .logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card .logo img {
    width: 70px;
    height: 40px;
    padding: 0px 8px;
}

.card .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #161616;
    margin: 0px;
}

.card .date {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #4D4D4D;
}


/* blog */
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.blog-card {
    margin: 0px 12px 12px 12px;
    border-radius: 1rem;
    border: 1px solid #f3f3f3;
    background: #f5f5f5;
    margin-bottom: ;
}

.blog-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.blog-card .banner img {
    width: 100%;
}

.img-hover-zoom {
    /* height: 120px;  */
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.5);
}

.blog-card .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #161616;
    margin: 0px;
}

.blog-card .date {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #4D4D4D;
}

.blog .blog-details {
    padding: 8px 16px;
}

.blog .blog-details .blog-title {
    font-size: 16px;
    line-height: 27px;
    color: #161616;
}

.blog .blog-details .transfer {
    background: white;
    color: #161616;
    border: 1px solid #d3d0d0;
    padding: 2px 18px;
    border-radius: 5%;
    border: 1px solid #8f808085;
    font-size: 16px;
}

.share {
    display: flex;
    padding: 12px;
    justify-content: space-around;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */


    color: rgba(22, 22, 22, 0.7);

}



/* footer  */
footer {
    background-color: #161616;
    color: wheat;
    text-align: center;

    padding: 30px 0px;

}

footer .menus {
    display: flex;
    justify-content: center;
    align-items: center;

}

footer .menus a {
    text-decoration: none;
    font-weight: 500;
    padding: 12px;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #B9B9B9;

}

footer .menus a:hover {

    color: #ffffff;

}


/* medial query  */

@media only screen and (max-width: 600px) {
    .section-title {

        text-align: center;
    }

    .container {
        width: 100%;
        padding: 0px;
        margin: 0px;
        border-radius: 8px;


    }

    .banner-card {
        background-color: #161616;
        border-radius: 1rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .main-box {
        /* height: 646px; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .matches {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .menue-box {
        background: #ffffff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 22px;
    }

    footer .menus {

        flex-direction: column;
    }

    .banner-card .banner-thumbnail img {
        vertical-align: bottom;
        max-width: 280px;
    }

    .banner-details .banner-heading {
        font-size: 46px;
        line-height: 43px;
        padding: 0px;
        margin: 0px;
        color: #FFFFFF;
    }

}


@media only screen and (min-width: 600px) and (max-width: 768px) {
    .section-title {

        text-align: center;
    }

    .container {
        width: 100%;
        padding: 0px;
        margin: 0px;
        border-radius: 8px;


    }

    .banner-card {
        background-color: #161616;
        border-radius: 1rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .main-box {
        /* height: 646px; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .matches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .menue-box {
        background: #ffffff;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        padding: 22px;
        justify-content: center;
    }

    .banner-card .banner-thumbnail img {
        vertical-align: bottom;
        max-width: 250px;
    }

    .banner-details .banner-heading {
        font-size: 46px;
        line-height: 43px;
        padding: 0px;
        margin: 0px;
        color: #FFFFFF;
    }

    /* footer .menus {

        flex-direction: column;
    } */
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .section-title {

        text-align: center;
    }

    .container {
        width: 100%;
        padding: 0px;
        margin: 0px;
        border-radius: 8px;


    }

    .banner-card {
        background-color: #161616;
        border-radius: 1rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .main-box {
        /* height: 646px; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    /* .matches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } */

    .matches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .menue-box {
        background: #ffffff;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        padding: 22px;
        justify-content: center;
    }


    .banner-card .banner-thumbnail img {
        vertical-align: bottom;
        max-width: 5200px;
    }

    .banner-details .banner-heading {
        font-size: 78px;
        line-height: 74px;
        padding: 0px;
        margin: 0px;
        color: #FFFFFF;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .view-more-btn {

        display: block;
    }


}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .section-title {

        text-align: center;
    }

    .container {
        width: 100%;
        padding: 0px;
        margin: 0px;
        border-radius: 8px;


    }

    .banner-card {
        background-color: #161616;
        border-radius: 1rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr) 38%;
    }

    .main-box {
        /* height: 646px; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .matches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }



    .menue-box {
        background: #ffffff;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        padding: 22px;
        justify-content: center;
    }

    .banner-card .banner-thumbnail img {
        vertical-align: bottom;
        max-width: 357px;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1450px) {
    .container {
        padding: 38px 50px;
        margin: 16px;
        border-radius: 8px;
    }

    .banner-card .banner-thumbnail img {
        vertical-align: bottom;
        width: 370px;
    }

    .banner-details .banner-heading {
        font-size: 44px;
        line-height: 56px;
        padding: 0px;
        margin: 0px;
        color: #FFFFFF;
    }
}

/* @media only screen and (min-width: 768px) and (max-width: 992px) {
    .section-title {

        text-align: center;
    }

    .container {
        width: 100%;
        padding: 0px;
        margin: 0px;
        border-radius: 8px;


    }

    .banner-card {
        background-color: #161616;
        border-radius: 1rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr) ;
    }

    .main-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .matches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .menue-box {
        background: #ffffff;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        padding: 22px;
        justify-content: center;
    }

     
} */